button{border: none;}

.container{
    width: 414px;
    height: 852px;
    margin: 0 auto;
}
a{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 16px;
    top: 5;
}
.imge{
    background-image: url(./img/iPhone.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 414px;
    height: 852px;
    position: relative;
}
/*红包*/
.red{width: 50%;
    padding-top: 100%;
    margin: 0 24%;
    position: relative;
}
@media (min-width: 960px){
    
    /* .red{width: 215px;height: 421px;padding:0px; } */
    .hewenqicontain{ max-width:600px; margin:0px auto;}
}
.red>span{
    /* width: 100%;
    height: 100%; */
    width: 200px;
    height: 240px;
    background-size: 126%; 
    background-position: center; 
    background-repeat: no-repeat; 
    top: 302px; 
    left: 0; 
    position: absolute;}
/* .red>button{position: absolute; top: 38%; left: 30%; font-size: 18px; width: 40%; height: 24%; border-radius: 100%; background: #fdc339; color: #fff;} */
.red .redbutton{
    position: absolute; 
    top: 90%; 
    left: 30%; 
    font-size: 18px; 
    width: 40%; 
    height: 24%; 
    /* border-radius: 100%;  */
    /* background: #fdc339;  */
    color: #fff;
    background: url(./img/but.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.red-jg{
    display: none; 
    position:absolute; 
    top: 90%;
    left: -3%;
    text-align: center; 
    padding: 10px;
    width:99%;
}
.red-jg>h1{
    font-size: 20px; 
    color: #ffc000; 
    line-height: 40px;
}
.red-jg>h5{
    color: #fff;
}




/*按钮*/
.t-btn{
    padding: 0 100px;
    margin-top: 160px;
}
.t-btn>button{
    width: 100%; 
    background: #ffb342; 
    border-radius: 5px; 
    color: #515151; 
    line-height: 40px; 
    font-size: 14px;
}

a{color:black;text-decoration:none;}